<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<title>Event Circle - Dashboard</title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag 'home/main'%>
</head>
<body>
	<header>
		<div class="container-admin">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-12">
				<h1 class="tagline">Event Planning. Organizing. and Execution</h1>
				<img class="logo img-responsive" src="/assets/logo.jpg" alt="Logo"></img>
				</div>
			</div>
		</div>
	</header>
	<div class="container-border-top">
	</div> 
	<section>
	<div class="container-admin">
	<div class="row">
		<div class="col-custom-md-3">
			<div class="left-nav">
				<ul>
				<div class="selected"><li><%= link_to "Dash Board", events_path %></li></div>
				<li><a href="#">The EC</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="col-custom-md-21">
			<div class="content-section">
			<h2 class="title">Dashboard</h2>
				<div class="row">
					<div class="col-md-11 col-md-offset-1 test">
							<table class="table table-striped box-border">
							<thead class="box-head">
								  <tr><td colspan="3"><strong>Events <span style="color:#e06d21;">Attended</span></strong></td></tr>
								  
							</thead>
						
							<tbody>
							<tr>
									<td><strong>Title</strong></td>
									<td><strong>Venue</strong></td>
									<td><strong>Starts</strong></td>
								</tr>
								<% @events_attended.each do |event|%>
								<tr>
									<td><%= event.title %></td>
									<td><%= event.venue %></td>
									<td><%= event.event_start_date %></td>
								</tr>
								<% end %>
							</tbody>
						 </table>
					</div>
					
					<div class="col-md-11">
						<table class="table table-striped box-border">
						   <thead class="box-head">
							  <tr>
								<tr><td colspan="3"><strong>Events <span style="color:#e06d21;">Hosted</span></strong></td></tr>
							  </tr>
						   </thead>
						   <tbody>
							<tr>
									<td><strong>Title</strong></td>
									<td><strong>Venue</strong></td>
									<td><strong>Starts</strong></td>
								</tr>
								<% @events_published.each do |event|%>
								<tr>
									<td><%= event.title %></td>
									<td><%= event.venue %></td>
									<td><%= event.event_start_date %></td>
								</tr>
								<% end %>
						  </tbody>
						 </table>
					</div>
				</div> <!-- Row closing -->		
				
				<div class="row">
					<div class="col-md-11 col-md-offset-1">
						<table class="table table-striped box-border">
							<thead class="box-head some" id="button">
								  <tr><td colspan='3'><strong>Events <span style="color:#e06d21;">Need to Host</span></strong></td></tr>
							</thead>
							<tbody>
								<tr>
									<td><strong>Title</strong></td>
									<td><strong>Venue</strong></td>
									<td><strong>Starts</strong></td>
								</tr>
								<% @events_for_publish.each do |event|%>
								<tr>
									<td><%= event.title %></td>
									<td><%= event.venue %></td>
									<td><%= event.event_start_date %></td>
								</tr>
								<% end %>
							</tbody>
						 </table>
					</div>
					
					<div class="col-md-11">
						<table class="table table-striped box-border" id ="effect">
						   <thead class="box-head" >
							  <tr>
								<tr><td><strong>Events <span style="color:#e06d21;">Attended</span></strong></td></tr>
							  </tr>
						   </thead>
						   <tbody>
							<tr><td>&nbsp;</td></tr>
							<tr><td>&nbsp;</td></tr>
							<tr><td>&nbsp;</td></tr>
							<tr><td>&nbsp;</td></tr>
						  </tbody>
						 </table>
					</div>
				</div> <!-- Row closing -->		

			
			<div class="clearfix"></div>
			</div> <!-- Content-section closing -->
		</div> <!-- Col-custom-21 closing -->
	</div><!-- Main Row closing -->	
    </div><!-- Container Admin closing -->	
	</section>
	
	<footer>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script> -->

    <%= javascript_include_tag 'home/main'%>
 <style>
.toggler { width: 500px; height: 200px; position: relative; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px; height: 135px; padding: 0.4em; position: relative; background: #fff; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
</style>
<script>
$(function() {
var state = true;
$( "#button" ).click(function() {
if ( state ) {
$( "#effect" ).animate({
backgroundColor: "#aa0000",
color: "#fff",
width: 500
}, 1000 );
} else {
$( "#effect" ).animate({
backgroundColor: "#fff",
color: "#000",
width: 440
}, 1000 );
}
state = !state;
});
});
</script>
</body>
</html>